<div id="<%= dom_id group_operation %>">
  <p>
    <strong>Group:</strong>
    <%= group_operation.group_id %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= group_operation.operation_id %>
  </p>

</div>
