<h1>Editing group operation</h1>

<%= render "form", group_operation: @group_operation %>

<br>

<div>
  <%= link_to "Show this group operation", @group_operation %> |
  <%= link_to "Back to group operations", group_operations_path %>
</div>
