<p style="color: green"><%= notice %></p>
<header>
<%= render partial:"shared/navbar",locals: {title: 'splash'}%>
</header>

<h1>Splash Screen</h1>


<%= link_to  "Sign up", new_user_registration_path,class:"decoration" %>
<%= link_to "Login", new_user_session_path,class:"decoration" %>

