<div class="splash-container">
<h1 class = "logo-splash" >My Budget</h1>
<div class="button">
<%= link_to  "Sign up", new_user_registration_path,class:"s-button " %>
<%= link_to "Login", new_user_session_path,class:"s-button" %>
</div>
</div>