
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
}

h1 {
    text-align: center;
    font-size:40px;
    margin-top: 27px; 
    color : #3778c2;
    margin-bottom: 100px;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3778c2;
    padding: 19px;
    color :white ;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-size: 1.9rem; 
}

.logout-button {
    text-decoration: none;
    color :#EEE6CE;
    background-color: #890F0D;
    cursor: pointer;
    padding : 1%;
    border-radius: 9px;
}

.category-header {
    text-align:center ;
    font-size: 40px;
    margin-top: 27px;
}

.login-container {
    display:flex ;
    flex-direction: column;
    width :70%;
    gap:23px;
    margin: 0 17%;
    border : 1px solid #D3CEDF;
    padding :30px;
}

.input {
    width: 90%;
    padding :19px;
    margin-top: 10px;
}

.label {
    color :#3778c2;
    font-size: 19px;
}

.login-button {
    background-color:#5fb523;
    color:white;
    cursor: pointer;
    width: 7%;
    padding : 1%;
    border-radius: 6px;
    border:none;
}

.notification {
    text-align: center;
    margin-top: 40px;
    color :#3778c2; 
    padding :13px;
    width: 50%;
    font-size: 20px;
    position: relative;
    left:25%;
    border: 1px solid #3778c2;
}

.categories-container {
    display : flex ;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 15px;
}

.category-card {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-radius: 13px;
  gap: 25px;
  width: 50%;
  font-weight: 600;
  font-size: 23px;
  align-items: center;
  border: 1px solid #D3CEDF;
  justify-content: space-between;
  padding: 54px;
  height: 100px;
  margin-bottom: 50px;
  cursor: pointer;
}

.category-card:hover {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.Add-button {
    background-color:#5fb523;
    color:white;
    cursor: pointer;
    width: 9%;
    position: relative;
    left:45%;
    padding : 1.5%;
    border-radius: 6px;
    border:none;
    text-decoration: none;
    text-align: center;
    font-size: 19px;
}

.Add-category {
    background-color:#5fb523;
    color:white;
    cursor: pointer;
    border-radius: 6px;
    border:none;
    padding : 1.9%;
    margin-top: 19px;
    position: relative;
    left:41%;
  
}

.category-title, .category-date {
    text-decoration: none;
    color :#3778c2; 
   
}

.category-date {
    font-size: 19px;
    color :#D3CEDF;
}

.destroy-button {
    text-decoration: none;
    color :#EEE6CE;
    background-color: #890F0D;
    cursor: pointer;
    padding : 40%;
    border :none;
    border-radius: 6px;
}

.destroy-button:hover,.logout-button:hover {
    color :#890F0D;
    background-color:white ;
    border : 1px solid #890F0D;
}

.Add-button:hover,.Add-category:hover {
    background-color:white;
    color:#5fb523;
    border :1px solid #5fb523;
}

.decoration {
    font-size: 17px;
    color: gray;
}

.date-container {
    display : flex ;
    flex-direction:column;
    gap:14px;
}